@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap');

.contenedorBrand{
    padding-top: 20px;
    padding-bottom: 15px;
}
.brand{
    text-align: center !important;
    background-color: rgb(106 105 105);
    color: #fcff7b;
    font-family:  'Neuton', serif;
    font-size: 50px;
    border-radius: 20px;
    width: 700px;
   line-height: 15vh;
   margin: auto;
   margin-top: 150px;
   padding: 15px;
   box-shadow: #e8ff8a 5px 10px 5px;
}