@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap');


.principal{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(205, 207, 189);
    padding-top: 30px;
    
}

.contenedorInfo{
    background-color: rgb(165 159 121);
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contenedorInfo2{
    display: flex;
    justify-content: space-around;
}


.tituloRosa{
    font-family: 'Neuton', serif;
    margin: 50px;
    margin: auto;
    text-align: center;
   
}

.imgRosa{
    width: 400px;
    margin-left: 15px;
    margin: 15px;
}
.imgRosa:hover{
    transform: scale(1.1);
    transition: 1s;
}

.precio{
    font-size: 25px;
    color: #f1f7f1;
    background-color: #08d908;
    border-radius: 6px;
    padding: 5px;
}